.container-benner{
    height: 504px;
width: 1440px;
left: 0px;
top: 0px;
border-radius: [object Object]px;


}
.container-text{
height: 108px;
width: 568px;
left: 136px;
top: 177px;
border-radius: nullpx;

}