.container-footer{
margin-top:100px;
}

.img-detail{
    background:#0D28A6;
    ;
    height: 32px;
width: 32px;
left: 0px;
top: 0px;
border-radius: 20px;

}
.shapeblue{
    height: 34px;
width: 100px;
left: 873px;
top: 36px;
border-radius: 0px;
background:#0D28A;
}





